{% extends "error_base.html" %}
{% set error_code = "401" %}
{% set error_title = "Lease Key Needed" %}
{% set error_message = "You need to sign in before entering this part of the site. Think of it like needing the right key before opening the rental house." %}
{% set primary_label = "Go to Login" %}
{% set primary_href = url_for('login') %}
{% set secondary_label = "Return Home" %}
{% set house_note = "Signing in should bring you back to the main lobby so you can continue where you left off." %}
